* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2vw;
    font-weight: 200;
}

h3 {
    font-size: 1vw;
    font-weight: 200;
}

button {
    all: unset;
    padding: 10px 20px;
    background-color: #CC5327;
    cursor: pointer;
    border-radius: 5px;
}
img{
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-radius: 5px;
}

section {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.task {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid gray;
}

.task .result {
    min-height: 5vw;
    min-width: 20vw;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
}

.card {
    height: 20vw;
    width: 15vw;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    transition: 0.3s ease;
}

.message {
    width: 20vw;
    height: 6vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    font-size: 1vw;
}

.inp {
    width: 20vw;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.deleteBtn{
    background-color: crimson;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}


/*  Responsive Design  */

@media (max-width:850px) {
    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 2vw;
    }
     img{
        height: 20vw;
    }

    .task {
        width: 80%;
    }

    .task .result {
        min-height: 8vw;
        min-width: 40vw;
    }

    .card {
        height: 30vw;
        width: 25vw;
    }

    .message {
        width: 50vw;
        height: 10vw;
        font-size: 2vw;
    }

    .inp {
        width: 50vw;
    }
}

@media (max-width:640px) {
    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3vw;
    }
    img{
        height: 40vw;
    }

    .task {
        width: 100%;
    }

    .task .result {
        min-height: 10vw;
        min-width: 50vw;
    }

    .card {
        height: 40vw;
        width: 35vw;
    }

    .message {
        width: 70vw;
        height: 15vw;
        font-size: 3vw;
    }
    .inp{
        width: 70vw;
    }
}